{{!-- The footer of the theme --}}
<footer class="footer outer">
    <div class="footer-inside">
        {{!-- Includes the social links list - partials/social-links.hbs --}}
        <div class="footer-social">
            {{> "social-links"}}
        </div>
        {{#if @site.secondary_navigation}}
        <nav class="footer-nav" aria-label="Secondary Navigation">
            {{navigation type="secondary"}}
        </nav>
        {{/if}}
        <p class="footer-copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}. {{{t "Horace theme by {jgtlink}. Powered by {ghostlink}." jgtlink="<a target=\"_blank\" href=\"https://justgoodthemes.com/\" rel=\"noopener\">Just Good Themes</a>" ghostlink="<a target=\"_blank\" href=\"https://ghost.org\" rel=\"noopener\">Ghost</a>"}}}</p>
        <p class="footer-back-to-top"><a class="btn btn-secondary btn-icon" href="#page">{{> "icons/arrow-up"}}<span class="screen-reader-text">{{t "Back to top"}}</span></a></p>
    </div>
</footer>
